[submodule "0x18-stacks_queues_life_fifo/monty"]
	path = 0x18-stacks_queues_life_fifo/monty
	url = https://github.com/JacobBHartman/monty
[submodule "0x1A-sorting_algorithms"]
	path = 0x1A-sorting_algorithms
	url = https://github.com/jagrvargen/0x1A-sorting_algorithms
